.top-pageAccessories {
    margin: 0;
    height: 237px;
    flex-shrink: 0;
    background: radial-gradient(43.18% 43.18% at 50% 50%, rgba(136, 105, 77, 0.64) 0%, rgba(155, 108, 76, 0.64) 100%);
    border-bottom: 1px solid black;
}

.top-pageAccessories p {
    font-family: "LEMON MILK";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.orange {
    margin-left: 10px;
    color: #F63A11;
}