.container-command {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-commande {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    font-family: "Inria Sans";
    text-transform: uppercase;

}

.details-btn {
    width: 50%;
    margin: 30px 0;
    padding: 10px;
    background-color: #1E1E1E;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5f5f5;
    text-decoration: none
;
}