footer h3 {
    font-family: "LEMON MILK Bold";
    font-size: 16px;
    margin-bottom: 10px;
}

footer h4 {
    font-family: "Inria Sans";
    font-size: 16px;
}

footer p, a {
    font-family: "Inria Sans";
    font-size: 14px;
    color: grey;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.Container {
    display: grid;
    margin: 40px 75px;
}

.section1 {
    grid-column: 1;
    grid-row: 1;
}

.section2 {
    grid-column: 2;
    grid-row: 1;
}

.section3 {
    grid-column: 3;
    grid-row: 1;
}

.title-footer {
    color: #000;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Vogue;
    font-size: 416px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.32px;
}



