footer h3 {
    font-family: "LEMON MILK Bold";
    font-size: 16px;
    margin-bottom: 10px;
}

footer h4 {
    font-family: "Inria Sans";
    font-size: 16px;
}

footer a{
    font-family: "Inria Sans";
    font-size: 14px;
    color: grey;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

footer p{
    font-family: "Inria Sans";
    font-size: 14px;
    color: grey;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.Container {
    display: flex;
}

.section1 {
    width: 30%;
}

.section2 {
    width: 30%;
}

.section3 {
    width: 30%;
}

.title-footer {
    color: #000;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "LEMON MILK Bold";
    font-size: 316px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.32px;
}

.list-section {
    list-style: none;
}

.img-footer img{
    width: 99vw;
}



