.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

.produit {
    width: 100%;
    list-style: none;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.name-PageNav {
    font-family: Vogue;
    font-size: 16px;
    color: #1E1E1E;
}

.li-navbar {
    padding: 0 15px;
}

.title-nav {
    width: 100%;
    text-align: center;
}


.right-ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.right-ul li {
    margin: 10px;
}

.btn-login-nav {
    color: #f5f5f5;
    background: #1E1E1E;
    padding: 10px;
    border: none;
    font-family: 'Vogue';
    font-size: 16px;
}

.btn-logout {
    color: #f5f5f5;
    background: #1E1E1E;
    padding: 10px;
    border: none;
    font-family: 'Vogue';
    font-size: 16px;
}

.btn-logout a {
    color: #f5f5f5;
    font-family: Vogue;
    font-size: 16px;
}




