body {
  margin: 0;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family:'Vogue';
  src: url('/public/font/Vogue Regular.eot');
  src: url('/public/font/Vogue Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/font/Vogue Regular.woff2') format('woff2'),
  url('/public/font/Vogue Regular.woff') format('woff'),
  url('/public/font/Vogue Regular.svg#Vogue Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'LEMON MILK Bold';
  src: url('/public/font/LEMON MILK Bold.eot');
  src: url('/public/font/LEMON MILK Bold.eot?#iefix') format('embedded-opentype'),
  url('/public/font/LEMON MILK Bold.woff2') format('woff2'),
  url('/public/font/LEMON MILK Bold.woff') format('woff'),
  url('/public/font/LEMON MILK Bold.svg#LEMON MILK Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00F7;
}

@font-face {
  font-family:'Inria Sans';
  src: url('/public/font/Inria Sans Regular.eot');
  src: url('/public/font/Inria Sans Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/font/Inria Sans Regular.woff2') format('woff2'),
  url('/public/font/Inria Sans Regular.woff') format('woff'),
  url('/public/font/Inria Sans Regular.svg#Inria Sans Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family:'Inria Sans';
  src: url('/public/font/Inria Sans Bold.eot');
  src: url('/public/font/Inria Sans Bold.eot?#iefix') format('embedded-opentype'),
  url('/public/font/Inria Sans Bold.woff2') format('woff2'),
  url('/public/font/Inria Sans Bold.woff') format('woff'),
  url('/public/font/Inria Sans Bold.svg#Inria Sans Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

