.top-pageTea {
    margin: 0;
    height: 237px;
    flex-shrink: 0;
    background: radial-gradient(50% 50% at 50% 50%, #C67340 0%, #FF2E07 100%);
    border-bottom: 1px solid black;
}

.top-pageTea p {
    font-family: "LEMON MILK";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.white {
    color: #f5f5f5;
    margin-left: 10px;
    margin-bottom: -33px;
}

.grey {
    margin-left: 10px;
    color: #D3D0CB;
}

.black {
    color: #1E1E1E;
    margin-left: 10px;
    margin-top: -33px;
}

.product-card {
    width: 300px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: solid 1px black;
    background: rgb(242, 239, 235);

}

.product-list {
    display: flex;
}


